<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Nikola Tesla</title>
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Tesla_circa_1890.jpeg" height="10%" width="10%"
     alt="Nikola Tesla">
<a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B5%D1%81%D0%BB%D0%B0,_%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0" title="ссылка на оригинал"><h1>Никола Те́сла</h1></a>
<text>
<p>
    <b>Никола Те́сла</b> - <del>(серб. Никола Те́сла, англ. Nikola Tesla; 10 июля 1856, Смилян, Госпич, Австрийская империя — 7 января
    1943, Нью-Йорк, Нью-Йорк, США)</del> — <br>сербско-американский инженер и учёный-физик, изобретатель в области электротехники и
радиотехники. По национальности серб, родился в Австрийской империи, вырос в Австро-Венгрии, в последующие годы в
основном работал во Франции и США. В 1891 году получил гражданство США.
</p>
<p>
    Широко известен благодаря своему вкладу в создание устройств, работающих на переменном токе, многофазных систем,
синхронного генератора и асинхронного электродвигателя, позволивших совершить так называемый второй этап промышленной
революции.
</p>
<p>
    Также он известен как сторонник теории о <em>существовании эфира</em> — благодаря своим многочисленным опытам и экспериментам,
имевшим целью показать наличие эфира как особой формы материи, поддающейся использованию в технике.
В честь изобретателя названа единица измерения плотности магнитного потока (магнитной индукции) — тесла. Среди многих
наград — медали Эллиота Крессона, Джона Скотта, Томаса Эдисона.
    Современники-биографы называют Теслу <mark>«человеком, который изобрёл XX век»</mark> и «святым заступником» современного
электричества.
</p>
<p>
После демонстрации радио и победы в «Войне токов» Тесла получил повсеместное признание как выдающийся
инженер-электротехник и изобретатель. Ранние работы Теслы проложили путь современной электротехнике, его открытия
раннего периода имели инновационное значение. В США по известности Тесла мог конкурировать с любым изобретателем или
учёным в истории, а также в массовой культуре.
</p>
</text>
</body>
</html>